/* For the Title */
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* For the Images */
.row
{
    display: flex;
}

.column
{
    float: left;
    width: 25%;
    margin-left: 5%;
    padding: 5px;
}

@media screen and (max-width: 315px) {
    .column {
      width: 100%;
    }
  }

img
{
    display: inline-block;
    width: 20%;
    height: 20%;
    margin-top: 20%;
}